@use "bootstrap/scss/bootstrap";
@use "base/variables";
@use "base/layout";
@use "sections/header-menu";
@use "sections/header-main";
@use "sections/video";
@use "sections/download-app";
@use "sections/award";
@use "sections/helpful";
@use "sections/footer-main";
@use "components/buttons";
