*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-base);
  line-height: var(--line-height-base);
  color: var(--color-text);
  background-color: var(--color-bg-page);
}

img {
  max-width: 100%;
  display: block;
}

.section {
  padding: 78px 0;

  @media (max-width: 480px) {
    padding: 56px 0;
  }
}

